
@keyframes showTipAudi {
	0% { left: -800px; }   
    100% { left: 0; }
}

@keyframes hideTipAudi {
	0% { left: 0px; }   
    100% { left: -800px; }
}

@keyframes showTipCall {
	0% { right: -800px; }   
    100% { right: 0; }
}

@keyframes hideTipCall {
	0% { right: 0px; }   
    100% { right: -800px; }
}

@keyframes rejectTip {
	0% { transform: rotate(0deg); }   
    100% { transform: rotate(20deg); }
}

@keyframes rejectTipA {
	0% { transform: rotate(0deg); }   
    100% { transform: rotate(-20deg); }
}


.tips{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.tips_item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	font-size: 11px;
	color: #fff;
	cursor: pointer;
}

.tips_item_50{
	background: url(./img/50.jpg) no-repeat center;
	background-size: 70%;
}

.tips_item_audi{
	background: url(./img/audi.jpg) no-repeat center;
	background-size: 70%;
}

.tips_item_call{
	background: url(./img/phone.jpg) no-repeat center;
	background-size: 70%;
}

.tip_wrapper_window{
	position: absolute;
	top: 200px;
	right: 0;
    left: 0;
    height: 30px;
    width: 320px;
    margin: auto;

    display: flex;
    /*justify-content: center;*/
}

.tip_window{
	position: absolute;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 105px;
    font-size: 14px;
}

.tip_close{
	position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    right: 71px;
    cursor: pointer;
}

.tip_audi{
	background: #26754b;

	left: -800px;
	animation: showTipAudi 1s;
	animation-fill-mode: forwards;
}

.tip_audi_hide{
	animation: hideTipAudi 1s;
	animation-fill-mode: forwards;
}

.tip_call{
	background: #752626;

	right: -800px;
	animation: showTipCall 1.2s;
	animation-fill-mode: forwards;
}

.tip_call_hide{
	animation: hideTipCall 1s;
	animation-fill-mode: forwards;
}

.tip_answer {
	text-decoration: underline;
}
   	
.reject{
	position: relative;
}

.reject:before {
    border-bottom: 3px solid red;
    position: absolute;
    content: "";
    width: 100%;
    transform: rotate(0deg);

    animation: rejectTipA 0.5s;
	animation-fill-mode: forwards;
}

.reject:after {
    border-bottom: 3px solid red;
    position: absolute;
    content: "";
    width: 100%;
    transform: rotate(0deg);

    animation: rejectTip 0.5s;
	animation-fill-mode: forwards;
}

@media(max-width: 480px){
	.tip_wrapper_window{
		z-index: 2;
	}

}
