*{
	margin: 0;
	padding: 0;
	user-select: none;
	transition: .2s all;
}

html, body, #root, .wrapper{
	height: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../../fonts/Roboto.woff) format('woff');
}

.font{
	font-family: Roboto;
	color: #fff;
}

a{
	text-decoration: none;
}

input{
	border: none;
	outline: none;
}
