
@keyframes showItems {
	0% { opacity: 0; }   
    100% { opacity: 1; }
}

.new_item{
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #464444;

	position: absolute;
    z-index: 1;
    left: 10px;
    right: 10px;
    box-sizing: border-box;
    top: 50px;

    opacity: 0;
	animation: showItems 0.6s;
	animation-fill-mode: forwards;
}

@media(max-width:768px) {
	.new_item{
		top: 48px;
	}
}
