.admin{
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 13px;
	height: 100%;
    box-sizing: border-box;
	background: #252222;
	color: #e0e0e0;
}

.admin_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.admin_header_amount{
	background: #6d3f65;
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 13px;
}

.admin_title{
	background: #a09937;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
}

.admin_new{
	background: #3f6d63;
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 13px;
	cursor: pointer;
}

.admin_new:hover{
	background: #3da08b;
}

.admin_list{
	flex: 1;

	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.admin_list_last{
	justify-content: flex-start;
}

/*.admin_list:after{
	content:'';
	flex:1;
}*/

.admin_navigation{
	display: flex;
	justify-content: center;
}

.admin_navigation>div{
	padding: 2px 7px;
    cursor: pointer;
    font-size: 14px;
    background: #171717;
    margin: 0 3px;
    border-radius: 5px;
}

.admin_navigation_item:hover{
	background: #907b7b;
}

@media(max-width:768px) {
	.admin_header_amount,
	.admin_new,
	.admin_title{
		font-size: 11px;
	}
}

@media(max-width:480px) {
	.admin_title{
		display: none;
	}
}


