.item{
	display: flex;
    flex-direction: column;
    justify-content: space-between;

	height: 75px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #464444;
}

.item:hover{
	background: #776060;
}

.item_panel{
	display: flex;
	justify-content: space-between;
}

.item_right{
	display: flex;
}

.item_edit{
	align-self: end;
	background: #257725;
	padding: 4px 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}

.item_edit:hover{
	background: #2aaf2a;
}

.item_delete{
	align-self: end;
	background: #6d3434;
	margin-right: 5px;
	padding: 4px 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}

.item_delete:hover{
	background: #af2d2d;
}

.item_answers{
	display: flex;
}

.item_answer {
	margin-right: 50px;
	padding: 4px 10px;
	height: 22px;
    box-sizing: border-box;
	border-radius: 5px;
	background: #333356;
}

.item_question {
	position: relative;	
	width: 60%;
}

.item_question_input {
	position: absolute;
	z-index: 1;
	font-family: "Roboto";
	width: 100%;
	height: 15px;
	padding: 5px;
	text-align: center;
	margin-left: 5px;
	font-size: 12px;
	background: #3e3636;
    color: #c1c0c0;
	border-radius: 5px;
	cursor: pointer;
}

.item_question_input:hover,
.item_question_input:focus,
.item_answer_input:hover,
.item_answer_input:focus{
	background: #655f5f;
}

.item_answer_input{
	text-align: center;
	margin-right: 50px;
	height: 22px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 12px;
	background: #3e3636;
    color: #c1c0c0;
    cursor: pointer;
}

@media (max-width: 992px) {
	.item_answer,
	.item_answer_input{
		margin-right: 15px;
	}
}

@media (max-width:768px) {
	
	.item_edit,.item_delete,
	.item_question,
	.item_answer_input,
	.item_question_input,
	.item{
		font-size: 10px;
	}

	.item_question_input{
		height: 20px;
		padding: 0;
	}
}

@media (max-width:480px) {
	.item_answers{
		justify-content: space-between;
	}

	.item_answer,
	.item_answer_input{
		height: auto;
		margin-right: 15px;
		padding: 0;
		background: none;
	}

	.item_answer_input{
		 background: rgb(123, 104, 74);;
	}


}